body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header{
  color: #00B7FF
}

.express{
  color: cornflowerblue;
}

.mention {
  color:#00B7FF
}